<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Can I Wear Shorts?</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

    <div class="container text-center">
        <h1>Can I wear shorts?</h1>

        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_location">Where are you?</label>
                {{ form.location }}
            </div>

            <button type="submit" class="btn btn-primary">Well, Can I?</button>
        </form>

        {% if results %}
            <h1 style="font-size: 70px">{{ results.result }}</h1>

            <hr>
            <div class="panel panel-default">
            <h1>{{ results.location }}</h1>
            <h3>Temp: {{ results.temperature }}&deg; F</h3>
            <h3>Condition: {{ results.condition }}</h3>
            </div>

        {% endif %}

    </div>

</body>
</html>